# Compiled output
bin/
out/
target/
build/
*.class

# Packages
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Logs
*.log
hs_err_pid*
replay_pid*

# IDE config
.idea/
.vscode/
*.iml
*.iws

# Libraries
lib/

# OS files
.DS_Store
Thumbs.db
desktop.ini
